body {
    background-color: hsl(233, 47%, 7%);
}

.main-card {
    margin:0 auto;
    margin-top: 150px;
    max-width: 900px;
    width:100%;
    height: 350px;
    display:flex;
    justify-content: space-between;
    background-color:hsl(244, 38%, 16%);
    border-radius:15px;
}


.image-card {
    height:350px;
    max-width: 450px;
    width:100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;;
    filter: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(-100deg) saturate(500%) contrast(1);
}

.text-card {
    width: 450px;
    height:350px;
    position:relative;
}

.part1 {
    position:absolute;
    margin-top:40px;
    margin-left: 20px;
}
.header-card {
    margin-top:5px;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight:700;
    color:hsl(0, 0%, 100%);
}

.insight {
    color: hsl(277, 64%, 61%);
}
.part2 {
     position:absolute;
     margin-top: 120px;
     margin-left:20px;
}
.card-text {
    margin-top:5px;
    font-size:15px;
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;

}

.part3 {
    margin-top: 250px;
    margin-left:20px;
    width: 300px;
    display:flex;
    justify-content:space-between;
}
.up-side {
    font-size:20px;
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;

}

.down-side {
    font-size:14px;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
}